*{
    margin: 0;
    padding: 0;
    background-color: black;
}

:root{
    /* --wid: calc((100vw - 180px)/12); */
    --wid: 50px;
    --space: 8px;
    --negSpace: -8px;
}

.clock, .hours, .minutes, .seconds{
    display: flex;
}

.hours_first, 
.hours_second, 
.minutes_first, 
.minutes_second, 
.seconds_first, 
.seconds_second{
    margin-right: 40px;
    position: relative;
}

.hours_first, .minutes_first, .seconds_first{
    left: 16px;
}

.hours_second, .minutes_second, .seconds_second{   
    left: 8px;
}

.element{
    width: var(--wid);
    height: 0px;
    background: white;
    border-left: var(--space) solid black; 
    border-right: var(--space) solid black;
    border-bottom: var(--space) solid white;  
    position: relative;
}

.element::after{
    width: var(--wid);
    height: 0;
    border-left: var(--space) solid transparent;
    border-right: var(--space) solid transparent;
    border-top: var(--space) solid white;
    position: absolute;
    content: "";
    top: var(--space);
    left: var(--negSpace);
}

.one{
    top: 16px;
}

.two{
    transform-origin: 0%;
    transform: rotate(90deg);
    top: 16px;
}

.three{
    transform-origin: 100%;
    transform: rotate(-90deg);
    top: 8px;
}

.four{
    top: 66px;
}

.five{
    transform-origin: 0%;
    transform: rotate(90deg);
    top: 66px;
}

.six{
    transform-origin: 100%;
    transform: rotate(-90deg);
    top: 58px;
}

.seven{
    top: 116px;
}

.hide, .hide::after{
    border-top: var(--space) solid black;
    border-bottom: var(--space) solid black;
}